ul {
    padding: 0px;
}
li {
    width: 800px;
    list-style-type: none;
    margin-bottom: 16px;
}
.app {
    background-image: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    //height: 100vh;
    .container {
        width: 100%;
        .link {
            text-decoration: none;
        }
        
        //Login and Register CSS
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        h1 {
            font-size: 35px;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 200px;
            gap: 10px;
        }

        button {
            padding: 10px;
            border: none;
            background-color: #d3a475;
            cursor: pointer;
        }

        input {
            font-size: 20px;
        }

        span {
            font-size: 20px;
            text-align: center;
        }

        p {
            font-size: 16px;
            //text-align: center;
            color: blue;
        }
    }

    // NAVBAR
    .navbar {
        // position: absolute;
        .container {
            padding: 10px;
            display: flex;
            align-items: center;
            //justify-content: space-between;
            .logo {
                width: 20%;
            }
            .links{
                //width: 80%;
                display: flex;
                //margin-top: 48px;
                align-items: center;
                //justify-content: space-between;
                gap: 10px; 
                padding-right: 30px;
                padding-left: 30px;
                h6 {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    // FOOTER
    footer {
        margin-top: 30px;
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //position: fixed;
        bottom: 0;
    }


    // HOME PAGE
    .home {
        padding: 10px;
        display: flex;
        //justify-content: center;
        height: 80%;
        align-items: top;
        
    }
    .data {
        display: flex;
        
    }
}