ul {
    padding: 0px;
}
li {
    width: 800px;
    list-style-type: none;
    margin-bottom: 16px;
}
.app {
    background-image: linear-gradient(#FFFFFF 10%, #7702c5 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;

    .cards:hover {
        cursor: pointer;
    }

    .container {
        width: 100%;
        .link {
            text-decoration: none;
        }
        
        //Login and Register CSS
        .auth, .MakePost{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        h1 {
            font-size: 35px;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 400px;
            gap: 10px;
        }

        button {
            padding: 10px;
            border: none;
            background-color: #3512f8;
            color: #FFFFFF;
            cursor: pointer;
        }

        input {
            font-size: 20px;
        }

        span {
            font-size: 20px;
            text-align: center;
        }

        p {
            font-size: 16px;
            //text-align: center;
            color: blue;
        }
    }
    h6 {
        font-size: 20px;
        font-weight: bold;
    }
    
    // CREATEPOST
    .MakePost {
        .errorMessage {
            color: red;
        }
    }

    // SINGLEPOST
    .singlePost {
        display: flex;
        gap: 50px;
        .content {
            flex: 5;
            background-color: #d4e9f8;
            padding: 24px;
            max-width: 60%;
            border-style: solid;
            border-width: 4px;
            border-color: #2c0049;
        }

        .commentsContainer {
            flex: 2;
            width: 100%;
            .comments {
                border: 1px solid rgba(16, 46, 46, 1);
                background-color: rgba(0, 255, 255, 0.973);
                border-radius: 5px;
                padding-left: 40px;
                padding-right: 30px;
                padding-top: 10px;

                span {
                    padding-left: 5px;
                }
            }
            .comments h4,
            .comments span,
            .darker h4,
            .darker span {
                display: inline;
            }

            .comments p,
            .comments span,
            .darker p,
            .darker span {
                color: rgb(92, 89, 89);
            }
            .inputComment {
                input {
                    width: 100%;
                    height: 50px;
                    padding-top: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .errorMessage {
                    width: 100%;
                    display: flex;
                    color: red;
                }
            }
            .submitComment {
                background-color: rgb(31, 157, 230);
                //margin-left: 30px;
                border-radius: 10px;
            }
        }

        .user {
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 10px;

            span {
                font-weight: bold;
            }

            .edit {
                display: flex;
                gap: 5px;
                cursor: pointer;
                text-decoration: none;
            }

            h1 {
                font-size: 42px;
            }

            p {
                text-align: justify;
            }
        }
        .info {
            display: flex;
            width: 50%;

            .edit {
                padding-left: 10px;
                text-decoration: none;
            }
        }
        .seql {
            display: flex;
        }
    }

    // NAVBAR
    .navbar {
        // position: absolute;
        .container {
            padding: 10px;
            display: flex;

            align-items: center;
            //justify-content: space-between;

            .logo {
                width: 20%;
            }
            .links{
                //width: 80%;
                display: flex;

                //margin-top: 48px;
                align-items: center;
                //justify-content: space-between;

                gap: 10px; 
                padding-right: 30px;
                padding-left: 30px;
            }
        }
    }

    // FOOTER
    footer {
        margin-top: 30px;
        padding: 20px;
        width: 100%;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        //position: fixed;
        bottom: 0;
    }


    // HOME PAGE
    .home {
        padding: 10px;
        display: flex;
        //justify-content: center;
        //height: 80%;
        align-items: top;
        
    }
    .data {
        display: flex;
    }

    .cardHeader {
        display:flex;
        justify-content: space-between;
    }
}